.scrollbar-base.os-scrollbar {
  @apply transition-all;
  pointer-events: unset;
}

.scrollbar-base.os-scrollbar.os-scrollbar-horizontal {
  @apply py-1 px-2 h-4;
}

.scrollbar-base.os-scrollbar.os-scrollbar-horizontal .os-scrollbar-track .os-scrollbar-handle {
  @apply rounded-full h-1;
}

.scrollbar-base.os-scrollbar.os-scrollbar-horizontal:hover .os-scrollbar-track .os-scrollbar-handle {
  @apply h-2;
}

.scrollbar-base.os-scrollbar.os-scrollbar-vertical {
  @apply px-1 py-1 w-4;
}

.scrollbar-base.os-scrollbar.os-scrollbar-vertical .os-scrollbar-track .os-scrollbar-handle {
  @apply rounded-full w-1;
}

.scrollbar-base.os-scrollbar.os-scrollbar-vertical:hover .os-scrollbar-track .os-scrollbar-handle {
  @apply w-2;
}

.os-scrollbar.scrollbar-auto {
  --os-handle-bg: var(--scrollbar-bg);
  --os-handle-bg-hover: var(--scrollbar-bg-hover);
  --os-handle-bg-active: var(--scrollbar-bg-active);
}

.os-scrollbar.scrollbar-dark {
  --os-handle-bg: rgba(255, 255, 255, 0.4);
  --os-handle-bg-hover: rgba(255, 255, 255, 0.5);
  --os-handle-bg-active: rgba(255, 255, 255, 0.6);
}

.os-scrollbar.scrollbar-light {
  --os-handle-bg: rgba(0, 0, 0, 0.4);
  --os-handle-bg-hover: rgba(0, 0, 0, 0.5);
  --os-handle-bg-active: rgba(0, 0, 0, 0.6);
}